@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    background-color: #f8f8f8;
}


h1 {
    margin-bottom: 50px;
    font-weight: bold;
}

/* Submit Button */

button[type="submit"] {
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #e43939;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 10px;

}

button[type="submit"]:hover {
    background-color: #c22b2b;
}

.back-link {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
}

a {
    color: rgb(185, 0, 0);
    text-decoration: none;
    margin-right: 20px;
}

a:hover {
    color: rgb(126, 0, 0);
}



input[type="text"],
textarea {
    margin-left: 20px;
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
}

input[type="text"]:focus,
textarea:focus {
    border-color: rgb(245, 99, 99);
    outline: none;
}


label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 20px;
}

select {
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 15px;
}

select:focus {
    border-color: rgb(245, 99, 99);
    outline: none;
}

.navbar {
    background-color: #f3f3f3;
}

.navbar a {
    float: right;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: rgb(168, 28, 28);
}


.nav {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin-right: 20px;
}

.nav:hover {
    color: #ff2828;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #33333300;
    color: rgb(0, 0, 0);
}

.navbar-container .logo {
    width: 190px;
    height: auto;
}



.navbar-container .navbar-links .nav {
    margin-right: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #33333300;
}

.navbar-container .navbar-links .nav:hover {
    color: rgb(143, 34, 34);
    font-weight: bold;
}