@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f8f8f8;
}

.dashboard-heading {
    color: rgb(224, 60, 60);
    font-size: 42px;
    font-weight: bold;
}

/* Create button */

.Btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(245, 99, 99);
}

.sign {

    transform: translate(-1%, 0%);
    font-size: 24px;
    transition-duration: .3s;
    color: white;
}



.Btn:hover {
    background-color: rgb(212, 85, 85);

    transition-duration: .3s;
}



/* Input */


input[type="text"] {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
}

input[type="text"]:focus {
    border-color: rgb(245, 99, 99);
    outline: none;
}

/* Sprint table */

.sprint-list table {
    width: 100%;
    border-collapse: collapse;
}

.sprint-list th,
.sprint-list td {
    border: 1px solid #ddd;
    padding: 8px;
}

.sprint-list th {
    background-color: #f2f2f2;
}

.sprint-list tbody tr {
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;

}



.sprint-list tbody tr:hover {

    background-color: #f2f2f2;
}

.logout-link,
.change-password-link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin-right: 20px;
}

.logout-link:hover,
.change-password-link:hover {
    color: #ff2828;
}

.sprint-name {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.sprint-name:hover {
    color: #ff3333;

}