@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f8f8f8;
}

.dashboard-heading {
    color: rgb(224, 60, 60);
    font-size: 42px;
    font-weight: bold;
}

/* Create button */

.Btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(245, 99, 99);
}

.sign {

    transform: translate(-1%, 0%);
    font-size: 24px;
    transition-duration: .3s;
    color: white;
}



.Btn:hover {
    background-color: rgb(212, 85, 85);

    transition-duration: .3s;
}



/* Input */


input[type="text"] {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
}

input[type="text"]:focus {
    border-color: rgb(245, 99, 99);
    outline: none;
}

/* Sprint table */

.sprint-list table {
    width: 100%;
    margin-bottom: 200px;
    border-collapse: collapse;
}

.sprint-list th,
.sprint-list td {
    border: 1px solid #dddddd00;
    padding: 8px;
    text-align: left;
}

.sprint-list th {
    background-color: rgb(240, 241, 243);
}

.sprint-list tbody tr {
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.sprint-list tbody tr:hover {
    background-color: #f2f2f2;
}


.sprint-name {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.sprint-name:hover {
    color: #ff3333;

}


#graph-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
}

#graph {
    display: block;
    max-width: 100%;
    height: auto;
}

.navbar {
    background-color: #f3f3f3;
}

.navbar a {
    float: right;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: rgb(168, 28, 28);
}


.nav {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin-right: 20px;

}

.nav:hover {
    color: #ff2828;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #33333300;
    color: rgb(0, 0, 0);
}

.navbar-container .logo {
    width: 190px;
    height: auto;
}

.navbar-container .navbar-links .nav {
    margin-right: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #33333300;
}

.navbar-container .navbar-links .nav:hover {
    color: rgb(143, 34, 34);
    font-weight: bold;
}

.remove-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.remove-btn:hover {
    background-color: rgb(202, 51, 51);
}

.username {
    font-weight: bold;
    margin-right: 1190px;
    color: rgb(22, 22, 22);
}