@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f3f3f3;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    height: 450px;
    color: rgb(32, 32, 32);
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}


::placeholder {
    font-family: "Poppins", sans-serif;
}

.form button {
    align-self: flex-end;
}

.flex-column>label {
    color: #151717;
    font-weight: 600;
}

.inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flex-row>div>label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}

.button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.button-submit:hover {
    background-color: #252727;
}

.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
}

.signin-button button {
    background-color: #242424;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.signin-button button:hover {
    background-color: #383838;
}

.signin-button a {
    text-decoration: none;
    color: #2d93f3;
    font-size: 14px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-link {
    text-decoration: none;
    color: #2d72f3;
    font-size: 16px;
    margin-top: 20px;
}

.signup-link:hover {
    text-decoration: underline;
}


.input-wrapper {
    margin-bottom: 20px;
}

.input-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-field:focus {
    outline: none;
    border-color: #2d79f3;
}