@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f8f8f8;
}

/* Input forms */

input[type="text"],
textarea {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
}

input[type="text"]:focus,
textarea:focus {
    border-color: rgb(245, 99, 99);
    outline: none;
}

/* Bug table */

.sprint-list table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
}

.sprint-list th,
.sprint-list td {
    border: 1px solid #dddddd00;
    padding: 8px;
    text-align: left;
}

.sprint-list th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.sprint-list tbody tr:hover {
    background-color: rgb(245, 245, 245);
}


/* Bug type dropdown */

label {
    font-weight: bold;
    margin-bottom: 5px;
}

select {
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 15px;
}

select:focus {
    border-color: rgb(245, 99, 99);
    outline: none;
}



/* Submit Button */

button[type="submit"] {
    padding: 10px 20px;
    background-color: #e43939;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #c22b2b;
}

.back-link {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: rgb(165, 0, 0);
    text-decoration: none;
    font-size: 16px;
}


.status-open {
    color: rgb(20, 156, 93);
    background-color: rgba(0, 128, 0, 0.055);
    width: 10%;
}

.status-closed {
    color: rgb(91, 93, 100);
    background-color: rgba(143, 128, 128, 0.082);

}


.navbar {
    background-color: #f3f3f3;
}

.navbar a {
    float: right;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: rgb(168, 28, 28);
}


.nav {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin-right: 20px;
}

.nav:hover {
    color: #ff2828;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #33333300;
    color: rgb(0, 0, 0);
}

.navbar-container .logo {
    width: 190px;
    height: auto;
}

.navbar-container .navbar-links .nav {
    margin-right: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #33333300;
}

.navbar-container .navbar-links .nav:hover {
    color: rgb(143, 34, 34);
    font-weight: bold;
}