<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='quickfix_icon.ico') }}">


</head>

<body>

    <body>
        <div class="navbar-container">
            <a href="/"><img src="../static/quickfix_logo.png" alt="QuickFix Logo" class="logo"></a>
            <div class="navbar-links">
                <a href="{{ url_for('dashboard') }}" class="nav">Dashboard</a>
                <a href="{{ url_for('change_password') }}" class="nav">Change Password</a>
                <a href="{{ url_for('logout') }}" class="nav">Logout</a>
            </div>
        </div>
    </body>

    <h1 class="dashboard-heading">Dashboard</h1>

    <form action="/create_sprint" method="post">
        <input type="text" name="name" placeholder="Sprint Name" required>
        <button class="Btn">
            <div class="sign">+</div>
        </button>
    </form>


    <div class="sprint-list">

        <h2>Sprints</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th># of Bugs</th>
                    <th></th>

                </tr>
            </thead>

            <tbody>
                {% for sprint in sprints %}
                <tr>
                    <td><a href="/sprint/{{ sprint.id }}" class="sprint-name">{{ sprint.name }}</a></td>
                    <td>{{ sprint.author }}</td>
                    <td class="bug-count">{{ sprint_bug_counts.get(sprint.id, 0) }}</td>
                    <td>
                        <form action="/delete_sprint/{{ sprint.id }}" method="post">
                            <button type="submit" class="remove-btn">Remove Sprint</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        {% if sprints %}
        {% else %}
        <p>No current sprints.</p>
        {% endif %}

    </div>

    {% if sprints %}
    {% if graph %}
    <h2>Graph</h2>
    <div id="graph-container">
        <img id="graph" src="data:image/png;base64,{{ graph }}" alt="Graph">
    </div>
    {% endif %}

    {% endif %}

</body>

</html>