<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
</head>

<body>
    <a href="/login" class="logout-link">Logout</a>

    <h1>Dashboard</h1>

    <form action="/create_sprint" method="post">
        <input type="text" name="name" placeholder="Sprint Name" required>
        <button class="Btn">
            <div class="sign">+</div>
        </button>
    </form>

    <div class="sprint-list">
        <h2>Sprints</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Number of Bugs</th>
                    <!-- add stuff here -->
                </tr>
            </thead>
            <tbody>
                {% for sprint in sprints %}
                <tr>
                    <td><a href="/sprint/{{ sprint.id }}">{{ sprint.name }}</a></td>
                    <td>{{ sprint.author }}</td>
                    <td>{{ sprint.num_bugs }}</td>
                    <!-- add here too -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
     <!-- Add a button to navigate to the change password page -->
     <a href="{{ url_for('change_password') }}">Change Password</a>


</body>

</html>