<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <title>Forgot Password</title>
</head>

<body>
    <div class="container">
        <h1>Forgot Password</h1>

        <form class="form" method="POST" action="">
            <p>Please enter the email address you'd like your password reset instructions to be sent to.</p>

            <div class="input-wrapper">
                <label for="email" class="input-label">Enter your email:</label>
                <input type="email" id="email" name="email" class="input-field" required>
            </div>
            <div class="signin-button">
                <button type="submit">Submit</button>
            </div>
        </form>

    </div>
</body>

</html>