<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QuickFix - Advanced Bug Reporting System</title>
  <link rel="stylesheet" href="../static/homePage.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='quickfix_icon.ico') }}">


</head>

<body>

  <body>

  </body>
  <div class="navbar">
    <a href="/"><img src="../static/quickfix_logo.png" alt="QuickFix Logo" class="logo"></a>
    <a href="/login" class="get-started-btn">Get Started</a>
  </div>
  <div class="container">
    <video src="../static/bug.mp4" autoplay loop muted class="bug-video"></video>
  </div>
</body>

</html>