<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <title>Sign In</title>
</head>

<body>
    <div class="container">
        <h1>Sign In</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form class="form" method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="input-wrapper">
                <label for="username" class="input-label">Username</label>
                <div>
                    {{ form.username(size=20, class='input-field') }}
                </div>
            </div>
            <div class="input-wrapper">
                <label for="password" class="input-label">Password</label>
                <div>
                    {{ form.password(size=20, class='input-field') }}
                </div>
            </div>
            <div>
                <input type="checkbox" id="remember_me" name="remember_me">
                <label for="remember_me">Remember Me</label>
            </div>
            <div class="signin-button">
                <button type="submit">Sign In</button>
                <a href="{{ url_for('forgot_password') }}">Forgot Password?</a>
            </div>
        </form>
        <div>
            <p>Don't have an account? <a href="{{ url_for('signup') }}" class="signup-link">Sign Up</a></p>
        </div>
    </div>
</body>

</html>