<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <title>Signup</title>
</head>

<body>
    <div class="container">
        <h1>Sign Up</h1>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <form class="form" method="POST" action="">
            {{ form.hidden_tag() }}
            <div>
                <label for="username" class="input-label">Username</label>
                <div>
                    {{ form.username(size=20, class='input-field') }}
                </div>
            </div>
            <div>
                <label for="email" class="input-label">Email</label>
                <div>
                    {{ form.email(size=20, class='input-field') }}
                </div>
            </div>
            <div>
                <label for="password" class="input-label">Password</label>
                <div>
                    {{ form.password(size=20, class='input-field') }}
                </div>
            </div>
            <div class="signin-button">
                <button type="submit">Sign Up</button>
            </div>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}" class="signup-link">Sign In</a></p>
    </div>
</body>

</html>