<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint {{ sprint_name }} - Bugs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sprint.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='quickfix_icon.ico') }}">



</head>

<body>

    <body>
        <div class="navbar-container">
            <a href="/"><img src="../static/quickfix_logo.png" alt="QuickFix Logo" class="logo"></a>
            <div class="navbar-links">
                <a href="{{ url_for('dashboard') }}" class="nav">Dashboard</a>
                <a href="{{ url_for('change_password') }}" class="nav">Change Password</a>
                <a href="{{ url_for('logout') }}" class="nav">Logout</a>
            </div>
        </div>
    </body>


    <h1>Sprint - {{ sprint_name }}</h1>
    <h2>Submit Bug Report</h2>
    <form action="/sprint/{{ sprint_id }}/create_bug" method="POST">
        <label for="title">Bug Title:</label>
        <input type="text" id="title" name="title" required><br>

        <label for="bug_type">Bug Type:</label>
        <select id="bug_type" name="bug_type" required>
            <option value="">Select Bug Type</option>
            <option value="Functional">Functional</option>
            <option value="Security">Security</option>
            <option value="Compatibility">Compatibility</option>
            <option value="Other">Other</option>
        </select><br>

        <label for="description">Bug Description:</label><br>
        <textarea id="description" name="description" rows="4" cols="50" required></textarea><br>

        <label for="email_notification">Email Notification:</label>
        <input type="checkbox" id="email_notification" name="email_notification"><br>

        <button type="submit">Submit Bug</button>
    </form>

    <div class="sprint-list">
        <h2>Bugs</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Description</th>

                </tr>
            </thead>
            <tbody>
                {% for bug in bugs %}
                <tr>
                    <td><a href="{{ url_for('open_bug', sprint_id=sprint_id, bug_id=loop.index) }}">{{ bug.title }}</a>
                    </td>
                    <td>{{ bug.type }}</td>
                    <td>{{ bug.author }}</td>
                    <td>{{ bug.status }}</td>
                    <td>{{ bug.description }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</body>
<a href="/dashboard" class="back-link">Back</a>

</html>